@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=champion&display=swap');

h2 {
  border-bottom: #243b4a;
  color: #9c8321;
  font-family: 'champion', serif;
  font-size: 3rem;
}

body {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  text-align: center;
}

main {
  background: silver;
  border: 0.75em solid silver;
  box-shadow: 0 1.5em 2.5em -0.5em;
  padding: 2em;
  text-align: left;
}

figcaption {
  text-transform: capitalize;
}