body {
  margin: 0;
}
header {
  background-color: #7d4427;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  box-shadow: 0 0 10px silver;
}

.title {
  text-align: left;
  color: ghostwhite;
  text-shadow: 1px 1px #1c1d1c;
  font-family: "Faustina", serif, "Arial", sans-serif;
  font-size: 30px;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif, "Arial", sans-serif, "Verdana", sans-serif,
    "Helvetica", sans-serif;
  font-size: 20px;
}

footer {
  text-align: center;
  color: ghostwhite;
  font-size: 20px;
  padding: 30px;
  background-color: #7d4427;
  border-radius: 0px;
  box-shadow: 0 0 10px silver;
}

footer h2 {
  font-size: 20px;
}

:root {
  --background: #0f1b07;
  --background2: #5c821a;
  --forward: silver;
  --forward2: hsla(0, 0%, 100%, 1);
  --border: hsl(0, 0%, 20%);
  --borderlight: hsl(0, 0%, 33%);
  --shadow: silver;
  --bw: #cecece;
}

table {
  margin: 77px auto;
  border: thin solid var(--border);
  box-shadow: 0 0 10px var(--shadow);
  border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--background);
  font-size: 1.05rem;
}

tr:first-child th,
.price1 {
  background-color: var(--background);
  color: var(--forward2);
}

th,
td {
  padding: 7px 15px;
  border: 1px solid var(--borderlight);
}

th {
  background-color: var(--background2);
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--bw);
}
