/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    /*----------- BODY --------------*/
    
    /*----------- HEADER --------------*/
    
    .date {
        margin-left: 19.5%;
        text-align: left;
    }

    header h1, header h2 {
        text-align: left;
    }

    header img {
        margin-left: 6.5%;
    }

    /*----------- NAVIGATION --------------*/

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        font-weight: bold;
    }

    .active {
        color: #00303f;
        border-bottom: 1px #FF8C00 solid;
        
    }

    nav.clearfix{
        margin-top: 50px;
    }

    /*----------- MAIN --------------*/
    
    main {
        height: 100%;
        padding-bottom: 2%;
    }

    main h1 {
        margin-left: 6.5%;
    }

    div.topbar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
        background-color: #02254b;
        box-sizing: border-box;
      }

    picture.weather-img img{
        width: 10%;
        height: 10%;
    }

    .link-5{
        text-align: center;
        display: block;
        flex-direction: row;;
      }

    .link-5 h2{
        margin-right: 40px;
    }

    img.placeholder-6{
        margin-top: 40px;
    }

    img.placeholder-3{
        margin-top: 12px
    }

    img.placeholder-5{
        margin-top: 10px
    }
    .home-grid {
        margin-left: 6.5%;
        width: 85%;
        height: 85%;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-gap: 1%;
    }

    

    
    /*.myphoto{
        margin-top: 2.5%;
        width: 82%;
    }

    .myphoto img {
        margin-top: 2.5%;
    }*/
    .link-1 {
        grid-column: 2/4;
        grid-row: 1/3;
        width: 100%;
        max-width: 100%;
    }
  
    .link-2 {
        grid-column: 2/5;
        grid-row: 3/4;
        object-fit: cover;
        object-position: 0 -90px;
    }


    .link-3 {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .link-4 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .link-5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .link-6 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .link-7 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .link-8 {
        
        grid-column: 4/5;
        grid-row: 3/4;
    }

    
    .home-grid a {
        overflow: hidden;
    }

    .home-grid img {
        min-height: 20%;
        min-width: 20%;
    }
    
    /*----------- FOOTER --------------*/

    footer{
        color: #02254b;
    }

    hr {
        width: 87%;
        margin-left: 6.5%;
    }
  
    .last-p {
        font-size: 80%;
        margin-left: 2%;
    }
           

    .footer-div-1 {
        max-width: 100%;
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 100px 60% auto;
        grid-template-rows: 25% 25% 25% 25%;
        margin-top: 2%;
        margin-bottom: 2%;
        color: white;
    }

    .logo-img-footer {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 170%;
        margin-bottom: 120%;
    }

    .footer-div-1 h2 {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: left;
        margin-top: 2%;
        margin-left: 35%;
    }

    .footer-p-1 {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
        margin-top: 4.5%;
        margin-left: 35%;
    }

    .footer-p-2 {
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: left;
        margin-top: 5%;
        margin-left: 35%;
    }

    .footer-p-3 {
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: left;
        margin-top: 8.5%;
    }

    .footer-p-4 {
        grid-column: 3/4;
        grid-row: 2/4;
        text-align: left;
        margin-top: 9.5%;
    }

    .footer-a {
        grid-column: 3/4;
        grid-row: 4/5;
        text-align: left;
        margin-bottom: 50px;
        margin-top: 50px
    }

    .line {
        margin-left: 10%;
        width: 76.5%;
     }
    
} /* end of media query */