/*----------- apply a natural box layout model to all elements --------------*/

body {
  margin: 0 auto;
  background-color: ghostwhite;
}

body,
header,
nav,
main,
footer {
  max-width: 100%;
  width: 100%;
}

/*----------- BODY --------------*/

h1,
h2,
h3 {
  font-family: "Merriweather", Arial, serif;
}

p,
a {
  font-family: "Raleway", Arial, sans-serif;
  color: #00303f;
}

#currentDate {
  color: ghostwhite;
  font-weight: bolder;
}

/*----------- HEADER --------------*/

/*.p-header {
    text-align: center;
    font-size: 102%;
    max-width: 100%;
    margin: 0;
    background-color: #00303F;
    padding: 2%;
}*/

/*#message {
    background-color: #00303F;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    padding: 0.5%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}*/

header#master.main-header {
  margin-bottom: 50px;
  background-color: ghostwhite;
}

header img {
  display: block;
  max-width: 100px;
  float: left;
  margin: 0.2rem 2vw;
}

header h1,
header h2 {
  text-align: left;
}

header h1 {
  font-size: 110%;
  margin-top: 2%;
  padding-top: 7%;
  margin-left: 30%;
  color: #00303f;
}

header h2 {
  font-size: 80%;
  margin-left: 30%;
  color: #00303f;
}

.date {
  display: block;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 80%;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 30%;
  margin-left: 0;
}

img#logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  filter: brightness(1.2);
}

.logo-img-footer {
  filter: brightness(1.2);
}

div.topbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #02254b;
  box-sizing: border-box;
}

.main-header {
  position: relative;
}

.topbar p {
  color: ghostwhite;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#date {
  font-family: Arial, Helvetica, sans-serif;
}

#currentDate {
  font-size: 1.05rem;
  margin-left: 10px;
}

/*----------- NAVIGATION --------------*/

nav {
  background-color: ghostwhite;
  margin-top: 5%;
}

nav button {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2.5%;
  background-color: #02254b;
  text-align: center;
  border: none;
  color: #fff;
  padding: 1%;
  border-radius: 5px;
}

.clear-fix {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

nav ul.open {
  display: block;
}

nav ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #02254b;
  font-size: 1.3em;
  font-weight: bolder;
}

.active {
  border-bottom: 1px solid #ff8c00;
}

nav ul li a:active {
  border-bottom: 1px #ff8c00 solid;
  color: #00303f;
}

nav ul li a:hover {
  border-bottom: 1px #ff8c00 solid;
  color: #00303f;
}

nav ul.open {
  display: block;
}

/*----------- MAIN --------------*/

main {
  background-color: white;
  height: 100%;
  padding-bottom: 2%;
}

main h1 {
  margin-left: 2.5%;
  margin-top: 0;
  padding-top: 2.5%;
  margin-bottom: 2%;
}

.home-grid {
  margin-top: 0;
  width: 120%;
  display: flex;
  flex-wrap: wrap;
}

.home-grid div {
  border: 0.1px solid silver;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px 5px silver;
}

input[type="submit"]:hover {
  background-color: silver;
}

main figurepicture {
  width: 100%;
  margin: 0 0 0 2%;
  float: right;
}

main figure.picture img {
  width: 100%;
}

main figure.picture figcaption {
  text-align: center;
  font-size: 0.75rem;
}

picture img {
  align-self: center;
  filter: blur(0em);
  transition: filter 0.5s;
}

.link-5 {
  text-align: center;
  display: block;
  flex-direction: row;
}

.home-grid a {
  width: 120%;
}

.home-grid img {
  max-width: 100%;
  margin-bottom: 5%;
  border-radius: 2px;
  max-height: 100%;
}

.hero-image {
  position: relative;
}

input[type="number"] {
  max-width: 80%;
  padding: 10px 10px;
  margin: 2px 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif", "Arial", sans-serif, "Verdana",
    sans-serif, "Helvetica", sans-serif;
}

.cloudy {
  margin-left: 10px;
}

.wind-speed {
  margin-left: -10px;
}

.temperature {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

img.weather-icon {
  width: 30px;
  height: 170px
}

button,
input {
  overflow: auto;
  color: #02254b;
  margin-left: 20px;
}

div.link-5 h2 {
  margin-left: 50px;
  color: #02254b;
  font-size: 18px;
}

div.link-5 {
  background-color: ghostwhite;
}

div.link-1 {
  background-color: ghostwhite;
}

/*----------- FOOTER --------------*/

.logo-img-footer {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main.clearfix p {
  font-size: 19px;
  font-style: inherit;
  font-weight: inherit;
  font-family: Helvetica, Lato;
  margin-bottom: 20px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  overflow-wrap: break-word;
  color: #02254b;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  line-height: 28px;
}

footer h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 2%;
  color: white;
}

footer p {
  text-align: center;
  color: white;
}

footer {
  text-align: center;
  background-color: #02254b;
  margin-top: 70px;
}

.last-p {
  font-size: 87%;
  margin-left: 2.5%;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

hr {
  margin-top: 5%;
}

.joinContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

section.discover h2,
section.discover p {
  color: #02254b;
  font-size: 20px;
}



section.discover p,
.stats p {
  font-size: 22px;
  font-weight: bolder;
}

div.membership h2 {
  text-decoration: underline;
}

.joinContainer {
  display: flex;
  justify-content: center;
}


div.membership ul li p {
  font-size: 15px;
  font-weight: bolder;
}



label,
small {
  color: white;
}

#joinUs {
  align-self: center;
  background-color: #02254b;
  padding: 2em;
  text-align: left;
}

input,
select,
textArea {
  background-color: ghostwhite;
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  color: #02254b;
  font-size: 18px;
  padding: 10px 10px;
  width: 90%;
}

.submit {
  background-color: white;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #ff8c00;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
}

section {
  border: 0.1px solid silver;
  border-radius: 20px;
  box-shadow: 2px 2px 5px silver;
}

.discover,
.directory,
.joinContainer,
.thankYouContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.discover div {
  margin: 0 auto;
}

.discoverContainer section {
  background-color: ghostwhite;
  border: 2px solid silver;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
}

.discover h1,
.directory h1,
.stats h2,
.stats h3,
.stats p,
.joinContainer h1,
.membership h2,
.membership h3,
.membership ul li p {
  color: #02254b;
}


.membership {
  border: 2px solid silver;
  display: block;
  flex-direction: row;
  margin-bottom: 2em;
  padding: 0.3em;
  text-align: left;
}

.stats {
  border: 2px solid #ff8c00;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0.3em;
  text-align: left;
}

.lastVisitContainer {
  margin-top: 30px;
  border: 2px solid #ff8c00;
  border-right: 2px solid white;
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  text-align: left;
  background-color: ghostwhite;
}

.membership {
  background-color: ghostwhite;
  margin-top: 30px;
}

.membership h2 {
  text-align: center;
  font-size: 15px
}

.membership ul li {
  list-style-type: none;
  margin-top: 10px;
  text-align: center;
}

main {
  background-color: white;
  padding: 0.5em;
}

picture {
  display: block;
  margin-top: 3rem;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

/* THANK YOU  */
.thankYouContainer {
  color: silver;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.thankYou h1,
.thankYou p {
  color: #02254b;
}

/* DIRECTORY */
.directory {
  padding-bottom: 5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid section,
.list section {
  background: var(--secondary-color);
  border: 0.55em solid var(--primary-color);
  box-shadow: 0 1.5em 2.5em -0.5em;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.grid section p,
.list section p {
  text-align: left;
}

.grid section a,
.list section a {
  display: block;
  text-align: left;
  text-decoration: underline;
}

.grid img,
.list img {
  width: auto;
  box-shadow: 0 0 30px#716f6a;
}

.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 3em;
  background-color: var(--primary-color);
  text-align: center;
}

.menu p {
  color: var(--accent-color);
}

.menu button {
  margin: 0 10px;
  padding: 1em 3em;
}

.menu div {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.list section img {
  display: none;
}

/* contact */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  min-height: 100vh;
  width: 80%;
  background: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #ff8c00;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: grey;
  font-weight: bolder;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #ff8c00;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side p{
  font-weight: bolder;
  color: grey;
  font-size: 19px
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #ff8c00;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #ffc800;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
  @media (max-width: 820px) {
    .container {
      margin: 40px 0;
      height: 100%;
    }

    .container .content {
      flex-direction: column-reverse;
    }

    .container .content .left-side {
      width: 100%;
      flex-direction: row;
      margin-top: 40px;
      justify-content: center;
      flex-wrap: wrap;
    }

    .container .content .left-side::before {
      display: none;
    }

    .container .content .right-side {
      width: 100%;
      margin-left: 0;
    }
  }