/*Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.*/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: ghostwhite;
}

body,
header,
nav,
main,
footer {
  max-width: 100%;
  width: 100%;
}

/*----------- BODY --------------*/

h1,
h2,
h3 {
  font-family: "Merriweather", Arial, serif;
}

p,
a {
  font-family: "Raleway", Arial, sans-serif;
  color: #00303f;
}

#currentDate {
  color: #ff8c00;
  font-weight: bolder;
}

/*----------- HEADER --------------*/

/*.p-header {
    text-align: center;
    font-size: 102%;
    max-width: 100%;
    margin: 0;
    background-color: #00303F;
    padding: 2%;
}*/

/*#message {
    background-color: #00303F;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
    padding: 0.5%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}*/

header#master.main-header {
    margin-bottom: 50px;
    background-color: ghostwhite;
}

header img {
  display: block;
  max-width: 100px;
  float: left;
  margin: 0.2rem 2vw;
}

header h1,
header h2 {
  text-align: left;
}

header h1 {
  font-size: 110%;
  margin-top: 2%;
  padding-top: 7%;
  margin-left: 30%;
  color: #00303f;
}

header h2 {
  font-size: 80%;
  margin-left: 30%;
  color: #ff8c00;
}

.date {
  display: block;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 80%;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 30%;
  margin-left: 0;
  
}

img#logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  filter: brightness(1.2);
}

.logo-img-footer {
  filter: brightness(1.2);
}

div.topbar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #02254b;
  box-sizing: border-box;
}

.main-header {
  position: relative;
}

.topbar p {
  color: #ff8c00;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#date {
    font-family: Arial, Helvetica, sans-serif;
}
/*----------- NAVIGATION --------------*/

nav {
  background-color: ghostwhite;
  margin-top: 5%;
}

nav button {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2.5%;
  background-color: #02254b;
  text-align: center;
  border: none;
  color: #fff;
  padding: 1%;
  border-radius: 5px;
}

/*.clear-fix {
    display: flex;
    flex-direction: column;
}*/



#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}



nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #00303f;
  font-size: 1em;
  font-weight: bolder;
}

.active {
  color: #51a3a3;
  border-bottom: 1px #ff8c00 solid;
}

nav ul li a:hover {
  border-bottom: 1px #ff8c00 solid;
}

nav ul.open {
  display: block;
}

/*----------- MAIN --------------*/

main {
  background-color: white;
  height: 100%;
  padding-bottom: 2%;
}

main h1 {
  margin-left: 2.5%;
  margin-top: 0;
  padding-top: 2.5%;
  margin-bottom: 2%;
}

.home-grid {
  margin-top: 0;
  width: 120%;
  display: grid;
}

/*.home-grid div {
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #51a3a3;
}*/

.home-grid a {
    width: 120%;
}





.home-grid img {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border-radius: 2px;
}

/*.myphoto{
    margin-left: 2.5%;
    width: 95%;
}

.myphoto img {
    margin-top: 2%;
    max-width: 100%;
}

.windchill {
    background-color: #fff;
    text-align: center;
    padding: 1%;
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
    margin-left: 0%;
    margin-bottom: 0%;
}*/

.hero-image {
  position: relative;
}


/*.progress-bar {
    height: 0.625rem;
    background-color: #FF8C00;
}

/*----------- FOOTER --------------*/

.logo-img-footer {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 2%;
  color: white;
}

footer p {
  text-align: center;
  color: white;
}

footer {
  text-align: center;
  background-color: #02254b;
  margin-top: 70px;
}

.last-p {
  font-size: 87%;
  margin-left: 2.5%;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

hr {
  margin-top: 5%;
}
