@import url('https://fonts.googleapis.com/css?family=Helvetica+IM+Fell+French+Canon+SC|Lato');

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.main {
    margin-top: 70px;
}


h2 {
    margin: 0;
    color: #525252
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    line-height: 28px;
    
}

.paragraph p{
    color: #525252
}

.paragraph{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    
    border: 1px solid #167b1a
}

/* header */
header#master.main-header {
    margin-bottom: 50px;
    background-color: ghostwhite;
}


.topbar p {
    color: ghostwhite;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 5px
}

.topbar {
    background-color: #484a4e;
    height: 40px;
}

#date {
    font-family: Arial, Helvetica, sans-serif;
}

#currentDate {
    font-size: 1.05rem;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    color: #84BE38;
}

nav a {
    text-align: center;
    min-width: 120px;
    text-decoration: none;
    color: #167b1a;
    padding: 25px;
    font-weight: bolder
}

.nav-bar {
    height: 90px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    line-height: 1.6;
}

.logo{
    padding: 15px 15px ;
}

.home-title {
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

.rivers-title {
    font-size: calc((37px + .027219*((100vw - 375px)))*1);
    line-height: 1.066667;
    width: 100%
}

h4 {
    color: white;

}

.book {
    text-decoration: none;
    background-color: #152238;
    color: seashell;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid seashell
}

.join {
    text-decoration: none;
    background-color: #167b1a;
    color: seashell;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid seashell
}

.book:hover {
    background-color: seashell;
    color: #152238;
    border: 2px solid #152238
}

.join:hover {
    background-color: seashell;
    color: #152238;

}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);

}

.msg {
    background-color: #84BE38;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px silver
}

.msg h2 {

    color: white;
}

.msg p {

    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 150px;
    height: 100px
}

#rivers-vid {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}



#hero-img {
    width: 100%;
    display: block;

}

#river-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}



#river-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    opacity: .8;

}

#river-msg h1 {
    text-align: center;
    color: white
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#river {
    display: grid;
    margin-top: 0px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#river-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


.rivers-msg h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top: 20px
}

.rivers-msg p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1.5;
}

.coastalContainer div {
    align-items: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0em 0.5em;
}

.coastalContainer div img {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 80px;
}

.coastalContainer div section {
    background: ghostwhite;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border: 1px solid silver;
}

.coastalContainer div section div:first-child {
    display: flex;
}

.coastalContainer div section p {
    line-height: 1.2;
    text-align: left;
    color: #525252
}

.coastalContainer div section h3 {
    color: #525252;
    line-height: 1.2;
    text-align: left;
}

.coastalContainer div section a {
    display: block;
    text-align: left;
    text-decoration: underline;
}

.business {
    background: ghostwhite;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border: 1px solid silver
}

.business p,
.weather p {
    color: #525252
}

.weather {
    background: ghostwhite;
    /* border: 0.55em solid var(--primary-color); */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    /* padding: 10px;
    text-align: center; */
    border: 1px solid silver
}

.coastalContainer div section {
    display: flex;
    flex-direction: row;
}

.h-grid {
    margin-top: 50px
}


ul.drink-button {
    padding: 0;
}

ul.drink-button li {
    max-width: 10rem;
    padding: 10px;
    margin: auto;
    list-style: none;
    border: 2px solid darkgray;
    background-color: #84BE38;
    border-radius: 1rem;
}

ul.drink-button li a {
    text-decoration: none;
    color: black;
}

.smoothies {
    width: 50%;
    margin-top: 10px;
    border-radius: 30px;
}

/* FRESH */
.specialty h1 {
    color: #525252;
    margin: 0 2em;
}
.hide {
        display: none;
}

.fresh-welcome {
    font-size: 2rem;
}

form {
    font-size: 16px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 50%;
    margin: 2rem auto;
}

form fieldset {
    text-align: left;
    margin: 2rem auto;
    border: 1px solid silver;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 22rem;
}

form legend {
    font-size: 20px;
    color: #167b1a;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: 16px;
}

form label.top input, 
form label.top textarea {
    display: block;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.top textarea {
    height: 150px;
}

form label.sbs {
    display: block;
    padding: .5rem;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #167b1a;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    margin-bottom: .75rem;
}

form label.top select {
    display:block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    margin: 10px;
}



.drink-results {
    border: 1px solid #095b71;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 50%;
    margin: 2rem auto;
}

.drink-results div {
    text-align: left;
    margin-left: 20%;
    padding: 5px;
    color: #095b71;
    font-size: 1.2rem;
}

.drink-results div span {
    color: black;
    font-size: 1rem;
    margin-left: 15px;
}

.hide-div {
    display: none;
}

/* footer */

footer h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 2%;
    color: #167b1a;
}


hr {
    margin-top: 5%;
}


footer p {
    text-align: center;
    color: #167b1a;
}

footer {
    text-align: center;
    background-color: ghostwhite;
    margin-top: 70px;
}

.last-p {
    font-size: 87%;
    margin-left: 2.5%;
    color: #167b1a;
}

footer a {
    text-decoration: none;
    color: #167b1a;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    width: 100%;
    background-color: ghostwhite;
    grid-column: 1/11;
    grid-row: 4/9;

}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin-top: 50px;
}

.contact {
    margin-top: 200px;
    float: left;

}



.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3
}

.rivers-card {
    margin-bottom: 200px;
    grid-column: 2/4;
    grid-row: 2/3;
}

.card-img {
    border: 5px solid silver;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px silver;
}

.rivers-type {
    transition: transform .5s;
    box-shadow: 5px 5px 10px silver;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px silver;
    height: 725px
}

main section img {
    box-sizing: border-box;
}


@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: flex;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #167b1a;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}

/* contact */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body {
    min-height: 100vh;
    width: 80%;
    background: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #167b1a;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: grey;
    font-weight: bolder;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #167b1a;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side p {
    font-weight: bolder;
    color: grey;
    font-size: 19px
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.foods h1{
    display: flex;
    color: #167b1a;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #167b1a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #84BE38;
}

.style {
    color: #7d0f68;
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    display: block;
}

.comtact {
    text-align: center;
    margin: auto;
    letter-spacing: -.03em;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 1.2;
}

@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}