@import url('https://fonts.googleapis.com/css?family=Helvetica+IM+Fell+French+Canon+SC|Lato');

body {
    background-color: white;
    color: #525252;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    max-width: 760px;
    margin: 0 auto
}
header {
    background-color: #0076b6;
    color: white;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

header h1{
    text-align: center;
    padding-top: 80px;
}

header img{
    width: 200px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom: 20px;
    
}

.lesson h2{
    text-shadow: 5px 5px 10px grey;
}

.lesson p{
    font-size: 19px;
}

hr {
    margin-top: 20px;
}

.highlight{
    color: red
}

footer{
    background-color: #0076b6;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

footer h3{
    padding-top: 20px;
}

footer p{
    padding-bottom: 20px
}